<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ogrenci_Yurt_Sistemi.Properties.Settings.YurtKayıtSistemiConnectionString"
            connectionString="Data Source=EMRE_SEFEROGLU\SQLEXPRESS;Initial Catalog=YurtKayıtSistemi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>